*{
    padding: 0%;
    margin: 0%;
    text-align: justify;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;     
}
header{
    height: 120px;
    background-color: none;
}
.logo{
    width: 14%;
    margin: 2px;
    margin-bottom: none;
    cursor: pointer;
}

.Contenedor{
    z-index: 2;
    display: flex;
    border-color: solid 2px rgb(5, 8, 1, 0.6);
    background: linear-gradient(to top, rgb(0, 0, 0), rgb(0, 0, 0));
    position: fixed;
    width: 100%;
    border: none;
    border-bottom:#000000 solid 2px;
    box-shadow:  0 5px 7.9px 3px #000000;

}

.contenedor{
    position: relative;;
}
h1{
    text-align: center;
    background-color: #f48e87;
    color: #ffff;
    margin-top: 50px;
    margin-left: 227.5px;
    margin-right: 227.6px;
    border: #f48e87 solid 1px;
}
ul{
    margin-left: 227.5px;
    margin-top: 10px;
    margin-right: 227.6px;
    border: #000000 solid 1px;
    padding: 10px;
}
li{
    list-style: none;
    margin: 10px;
}
.lista{
    line-height: 30px;
    top: 356%;
    right: 50%;
    position: absolute;
    display: flex;
    width: 65%;
    transform: translate(50%, -50%);
    border: #000000 solid 1px;
    padding: 10px;
    border: #f48e87 solid 1px;
}
.Datos-Solicitados{
    font-weight: bold;
    width: 50%;
}
.Datos{
    width: 50%;
}