body{
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f4f4f4;
}
.Contenedor{
  z-index: 2;
  display: flex;
  border-color: solid 2px rgb(5, 8, 1, 0.6);
  background: linear-gradient(to top, rgb(0, 0, 0), rgb(0, 0, 0));
  position: fixed;
  width: 100%;
  border: none;
  border-bottom:#000000 solid 2px;
  box-shadow:  0 5px 7.9px 3px #000000;
}
header{
  height: 120px;
  background-color: none;
}
.logo{
  width: 14%;
  margin: 2px;
  margin-bottom: none;
  cursor: pointer;
}
h1,h2{
  text-align: center;
} 
.acordion {
  max-width: 700px;
  margin: 20px auto;
  
}
.acordionItem {
  background-color: #fff;
  border: 1px solid #ddd;
  margin-bottom: 5px;
  overflow: hidden;
  border-radius: 5px;
 
}

.acordionHeader {
  text-align: center;
  background-color: #f48e87;
  color: #ffff;
  cursor: pointer;
  padding: 10px;
  border-radius: 5px 5px 0 0;
  
}
.acordionContent {
  padding: 10px;
  display: none;
}  