*{
    padding: 0%;
    margin: 0%;
    text-align: justify ;
}
header{
    height: 120px;
    background-repeat: no-repeat;
    background-size: 1400px;
    border: none;
    border-bottom:#ffff solid 2px;
    box-shadow: inset 0 -10px 7.9px -3px #ffff;
    
}
body{
    width: 100%;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    overflow-x: hidden;
}
.logo{
    width: 14%;
    margin: 2px;
    margin-bottom: none;
    cursor: pointer;
}
.btn1{
    background: none;
    color: #ffff;
    border: none;
    position:relative;
    transform: translateY(20px) translateX(965px);
    border-left: 1px #ffff solid;
    padding-left: 5px;
    padding: 10px;
    text-align: center;
}
.btn1:hover{
    background-color: #984f5d ;
    transition: 0.3s ;
    cursor: pointer;
    color: #ffffff;
    transform: translateY(15px) translateX(964px); 
    padding: 16px;
    font-size: 12px;
    opacity: 0.7;
}

.Contenedor{
    z-index: 2;
    display: flex;
    border-color: solid 2px rgb(5, 8, 1, 0.6);
    background: linear-gradient(to top, rgb(0, 0, 0), rgb(0, 0, 0));
    position: fixed;
    width: 100%;
    border: none;
    border-bottom:#000000 solid 2px;
    box-shadow:  0 5px 7.9px 3px #000000;

}
.tx1{
    text-align: justify;
    justify-content: inherit;
    font-size: large;
    line-height: 33px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    margin-top: 2pc;
    margin-left: 10px;
    border-left: #000000 10px solid;
    padding-left: 10px;
    padding-top: 10px ;
    width: 100%;
    height: 40px;
}
.tx1 h1{
    margin-bottom: 30px;
}

.tx2{
    text-align: justify;
    color: #000;
    margin-bottom: 30px;
    border-left: #000000 10px solid;
    padding-left: 10px;
    padding-top: 10px ;
    width: 100%;
    height: 40px;
} 

.info1, .info2{
    background-color: #ffff;
    padding: 0px;
    border-radius: 5px;
    width: 100%;
    text-align: justify;
    justify-content: inherit;
    font-size: large;
    line-height: 33px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    display: flex;
    
}
.info2{
    margin-top: 50px;
}
.info{
    width: 90%;
    margin-left: 2pc;
    margin-top: 4pc;
}
.info ol{
    margin-left: 4pc;
    margin-bottom: 5pc;
}                     